@charset "utf-8";
body {
	background-color: #e4ded6;
}
.clearfix::after, .clearfix::before {
	content: "";
	display: block;
}
.clearfix::after {
	clear: both;
}
.wrapper {
	min-width: 1200px;
}
.cookie_pop {
	height: 112px;
	background: url(../image/pop_bg.png);
}
.cookie_pop .cookie_pop_inner {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}
.cookie_pop .cookie_pop_inner .tab {
	position: absolute; right: 10px; top: 10px;
}
#header {
	position: absolute; 	left: 0;
	width: 100%;
	z-index: 99999;
	min-width: 1200px;
}
#header .upper {
	height: 80px;
	background-color: rgba(0, 0, 0, 0.5);
}
#header .upper .upper_inner {
	margin: 0 auto;
	width: 1200px;
	position: relative; /* gnb ul ul */
}
#header .upper .upper_inner .logo {
	margin-top: 20px;
	float: left;
}
/*GNB*/
#header .menu{
	float: left;
}
#GNB {
	margin-left: 109px;
}
#GNB > ul > li {
	display: inline-block;
	margin-left: -4px;
}
#GNB > ul > li > a {
	display: block;
	padding: 0 50px;
	color: #fff;
	line-height: 80px;
	text-align: center;
	font-size: 0.9em;
	transition: background-color 0.3s;
}
#GNB > ul > li:hover > a {
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0.7);
}
/* 2depth */
#GNB ul ul {
	display: none;
	position: absolute; 	left: 0;
	z-index: 99999;
	width: 1200px;
	height: 70px;
	background-color: transparent;
}
#GNB ul li:nth-child(1) ul {
	padding-left: 160px;
}
#GNB ul li:nth-child(2) ul {
	padding-left: 210px;
}
#GNB ul li:nth-child(3) ul {
	padding-left: 520px;
}
#GNB ul li:nth-child(4) ul {
	padding-left: 650px;
}
#GNB ul li:nth-child(5) ul {
	padding-left: 830px;
}
#GNB ul ul li {
	display: inline-block;
	position: relative;
}
#GNB ul ul a {
	display: block;
	font-size: 0.8em;
	padding: 0 20px;
	height: 70px;
	line-height: 70px;
	color: rgba(255,255,255,0.6);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
#GNB ul ul li:hover a {
	color: #fff;
}
/* GNB 2depth background */
#header .upper .gnb_bg {
	position: absolute; 	left: 0; top: 80px;
	width: 100%;
	height: 0;
	background-color: rgba(0, 0, 0, 0.8);
	transition: height 0.3s;
}
#header .upper .gnb_bg.active {
	height: 70px;
}
/* UTIL */
#header .upper .upper_inner .util {
	float: right;
	margin-top: 30px;
}
#header .upper .upper_inner .util ul li {
	display: inline-block;
}
#header .upper .upper_inner .util ul li a {
	display: block;
	position: relative;
	margin: 0 8px 0 0;
	height: 19px;
	line-height: 18px;
	font-size: 0.75em;
	color: #fff;
	transition: border 0.5s;
}
#header .upper .upper_inner .util li:first-child a:after {
	content: "";
	display: block;
	position: absolute; right: -7px; top: 3px;
	width: 1px;
	height: 12px;
	background-color: #fff;
}
#header .upper .upper_inner .util li a::before {
	content: "";
	display: block;
	position: absolute; left: 0; bottom: 1px;
	width: 0;
	height: 1px;
	background-color: #fff;
	transition: width 0.3s;
}
#header .upper .upper_inner .util li:hover a::before {
	width: 100%;
}
/* keyvisual */
.keyvisual {
	min-width: 1200px;
}
.keyvisual_inner {
	position: relative;
	max-height: 800px;
	overflow: hidden;
}
.keyvisual .keyvisual_inner .key_text {
	position: absolute; left:0; bottom: 0;
	z-index: 10000;
	width: 100%;
	padding: 15px;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
}
.keyvisual .keyvisual_inner .key_text .title {
	color: #fff;
	font-size: 2.3em;
	line-height: 45px;
	margin-bottom: 10px;
	font-family: 'Noto Serif KR', serif;
	Word-spacing: 10px;
}
.keyvisual .keyvisual_inner .key_text .title span {
	font-size: 0.8em;
	color: #f4f1e6;
}
.keyvisual .keyvisual_inner .key_text a {
	display: block;
	width: 130px;
	height: 30px;
	margin: 0 auto;
	margin-top: 20px;
	line-height: 28px;
	text-align: center;
	border: 2px solid rgba(255,255,255,0.6);
	color: rgba(255,255,255,0.6);
}
.keyvisual .keyvisual_inner .key_text a:hover {
	border: 2px solid rgba(255,255,255,1);
	color: rgba(255,255,255,1);
}
.keyvisual .keyvisual_inner video {
	max-width: 100%;
}
/** content 기초 **/
#content .title {
	margin-bottom: 38px;
}
#content .sub_title {
	font-size: 1.05em;
	font-weight: 700;
	color: #b89d83;
	text-align: center;
}
#content .main_title {
	margin: 0 auto;
	width: 665px;
	font-size: 1.875em;
	font-weight: 700;
	color: #674a3e;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 2px solid #b89d83;
	margin-top: 5px;
}
/* 제품 */
#content .product1 {
	min-width: 1200px;
	overflow: hidden;
}
#content .product1 .product1_inner {
	padding: 80px 0;
	margin: 0 auto;
	width: 1200px;
}
#content .product1 .product1_inner .cont div[class^=product] {
	margin-bottom: 70px;
}
#content .product1 .product1_inner .content {
	position: relative;
	margin-top: 40px;
}
#content .product1 .product1_inner .cont ul li:nth-child(odd) .img {
	float: left;
	margin-left: 120px;
}
#content .product1 .product1_inner .cont ul li:nth-child(odd) .content {
	float: left;
	padding: 40px 50px;
	padding-right: 0;
	margin-left: 50px;
	transform: translateX(300px);
	opacity: 0;
	transition: transform 0.8s, opacity 0.8s;
}
#content .product1.active .product1_inner .cont ul li:nth-child(odd) .content {
	transform: translateX(0);
	opacity: 1;
}
#content .product1 .product1_inner .cont ul li:nth-child(odd) .content::after {
	position: absolute; left: 0; top: 0;
	z-index: -1;
	content: "";
	display: block;
	width: 200%;
	height: 100%;
	border-radius: 15px;
	background-color: rgba(244,241,230,0.7);
}
#content .product1 .product1_inner .cont ul li:nth-child(even) .img {
	float: right;
}
#content .product1 .product1_inner .cont ul li:nth-child(even) .content {
	float: right;
	padding: 40px;
	padding-left: 0;
	margin-right: 50px;
	text-align: right;
	transform: translateX(-300px);
	opacity: 0;
	transition: transform 0.8s, opacity 0.8s;
}
#content .product1.active .product1_inner .cont ul li:nth-child(even) .content {
	transform: translateX(0);
	opacity: 1;
}
#content .product1 .product1_inner .cont ul li:nth-child(even) .content::after {
	position: absolute; right: 0; top: 0;
	z-index: -1;
	content: "";
	display: block;
	width: 200%;
	height: 100%;
	border-radius: 15px;
	background-color: rgba(244,241,230,0.7);
}
#content .product1 .product1_inner .cont ul li:nth-child(even) .img {
	margin-right: 120px;
}
#content .product1 .product1_inner .img {
	height: 297px;
}
#content .product1 .product1_inner img {
	height: 100%;
}
#content .product1 .product1_inner .cont .content .red_text {
	color: #e60013;
	font-size: 1em;
	font-weight: 700;
}
#content .product1 .product1_inner .cont .content .data dt{
	color: #000;
	line-height: 60px;
	font-size: 1.5em;
	font-weight: 700;
}
#content .product1 .product1_inner .cont .content .data dd{
	color: #000;
	line-height: 25px;
	font-size: 1em;
}
#content .product1 .product1_inner .cont .content .data a{
	display: inline-block;
	width: 115px;
	height: 31px;
	margin-top: 20px;
	line-height: 31px;
	text-align: center;
	font-size: 0.875em;
	color: #fff;
	background-color: #674a3e;
	transition: background-color 0.3s;
}
#content .product1 .product1_inner .cont .content .data a:hover{
	background-color: #e60013;
}

/* intro */
#content .intro {
	min-width: 1200px;
	height: 835px;
	background: url(../image/bg_intro.jpg) no-repeat 0,0;
	overflow: hidden;
}
#content .intro .intro_inner {
	margin: 0 auto;
	width: 1200px;
	opacity: 0;
	transition: opacity 0.8s;
}
#content .intro.active .intro_inner {
	opacity: 1;
}
#content .intro .intro_inner .introtext {
	margin: 0 auto;
	width: 627px;
	height: 254px;
	margin-top: 247px;
	color: #f4f1e6;
	line-height: 41px;
	font-size: 1.625em;
	text-align: center;
	border: 3px solid rgba(244, 241, 230, 0.3);
}
#content .intro .intro_inner .introtext span {
	font-weight: 700;
}
#content .intro .intro_inner .main_title {
	margin-top: 20px;
	border: none;
	font-weight: 700;
}
#content .intro .intro_inner .main_title {
	color: #f4f1e6;
}
#content .intro .intro_inner .main_title span {
	color: #e60013;
}

/* 타시모 */
#content .product2 {
	min-width: 1200px;
	position: relative;
}
#content .product2::after {
	content: "";
	position: absolute; bottom: 80px;
	z-index: -1;
	width: 100%;
	height: 200px;
	background-color: rgba(244,241,230,0.7);
}
#content .product2 .product2_inner {
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 120px;
	width: 1200px;
}
#content .product2 .product2_inner .img {
	position: relative;
	width: 700px;
	margin: 0 auto;
	opacity: 0;
	transition: opacity 1s;
}
#content .product2.active .product2_inner .img {
	opacity: 1;
}
#content .product2 .product2_inner img {
	width: 100%;
}
#content .product2 .product2_inner .content {
	width: 900px;
	margin: 0 auto;
	opacity: 0;
	transition: opacity 0.8s;
	transition-delay: 0.5s;
}
#content .product2.active .product2_inner .content {
	opacity: 1;
}
#content .product2 .product2_inner .cont .content .data dt{
	position: relative;
	color: #000;
	line-height: 60px;
	font-size: 1.5em;
	font-weight: 700;
}
#content .product2 .product2_inner .cont .content .data dd{
	position: relative;
	color: #000;
	line-height: 22px;
	font-size: 1.125em;
	font-weight: 00;
}
#content .product2 .product2_inner .cont .content .data a{
	position: absolute; right: 0; bottom: 0;
	display: inline-block;
	width: 115px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	font-size: 0.8rem;
	color: #fff;
	background-color: #674a3e;
	transition: background-color 0.8s;
}
#content .product2 .product2_inner .cont .content .data a:hover {
	background-color: #e60013;
}
/* 이벤트 */
#content .event {
	min-width: 1200px;
	height: 811px;
	background: url(../image/bg_event.jpg) no-repeat 0,0;
	overflow: hidden;
}
#content .event .event_inner {
	padding: 80px 0;
	margin: 0 auto;
	width: 1200px;
}
#content .event .event_inner .title .main_title h3 {
	color: #f4f1e6;
}
#content .event .event_inner .cont {
	margin-top: 150px;
}
#content .event .event_inner .cont ul {
	text-align: center;
}
#content .event .event_inner .cont ul li {
	display: inline-block;
	margin-left: 10px;
	opacity: 0;
	transition: opacity 0.8s;
}
#content .event.active .event_inner .cont ul li {
	opacity: 1;
}
#content .event .event_inner .cont ul li:first-child {
	margin-left: 0;
}
#content .event .event_inner .cont ul li a{
	position: relative;
	display: block;
	width: 375px;
	height: 227px;
	border: 3px solid #000; /* #b89d83; */
	transition: border 0.3s;
	overflow: hidden;
}
#content .event .event_inner .cont ul li:hover a{
	/* border: 3px solid #b8000f; */
}
#content .event .event_inner .cont ul li a::after {
	content: "";
	display: block;
	position: absolute; left: 0; top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	transition: opacity 0.8s;
}
#content .event .event_inner .cont ul li a:hover::after {
	opacity: 0.7;
}
#content .event .event_inner .cont ul li a img {
	width: 100%;
	transition: transform 0.3s;
}
#content .event .event_inner .cont ul li a:hover img {
	transform: scale(1.07);
}
#content .event .event_inner .cont ul li a span {
	position: absolute; left: 50%; top: 50%;
	display: block;
	width: 100px;
	margin-left: -50px;
	z-index: 100;
	color: #fff;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s;
}
#content .event .event_inner .cont ul li a:hover span {
	opacity: 1;
}
/* 뉴스 */
#content .news {
	min-width: 1200px;
	padding: 80px 0;
}
#content .news .news_inner {
	margin: 0 auto;
	width: 1200px;
}
#content .news .news_inner .cont {
	font-size: 1.125em;
	margin-bottom: 80px;
}
#content .news .news_inner .cont ul {
	text-align: center;
}
#content .news .news_inner .cont ul li {
	margin: 0 10px;
	display: inline-block;
	vertical-align: top;
	opacity: 0;
	transition: opacity 0.8s;
}
#content .news.active .news_inner .cont ul li {
	opacity: 1;
}
#content .news .news_inner .cont li a {
	position: relative;
	display: block;
	width: 198px;
	height: 249px;
	background-color: #f4f1e6;
	padding: 28px 28px;
	font-size: 0.875em;
	text-align: left;
	transition: background-color 0.8s;
}
#content .news .news_inner .cont li:hover a {
	background-color: #b89d83;
}
#content .news .news_inner .cont li span {
	position: absolute; left: 28px; bottom: 20px;
	line-height: 50px;
}

/* 푸터 */
#footer {
	min-width: 1200px;
	background-color: #674a3e;
}
#footer .footer_inner {
	padding: 60px;
	margin: 0 auto;
	width: 1200px;
	font-size: 0.875em;
}
#footer .footer_inner .sns {
	text-align: center;
}
#footer .footer_inner .sns ul li {
	display: inline-block;
}
#footer .footer_inner .sns ul li	a {
	margin-left: 10px;
	opacity: 0.7;
	transition: opacity 0.3s;
}
#footer .footer_inner .sns ul li	a:hover {
	opacity: 1;
}
#footer .footer_inner .sns ul li:first-child a{
	margin-left: 0;
}
#footer .footer_inner .service {
	margin-top: 40px;
	text-align: center;
	line-height: 36px;
}
#footer .footer_inner .service ul li {
	display: inline-block;
}
#footer .footer_inner .service ul li a {
	display: block;
	color: #f4f1e6;
	padding: 0 5px;
	position: relative;
}
#footer .footer_inner .service ul li a:hover {
	text-decoration: underline;
}
#footer .footer_inner .service ul li a::after {
	content: "";
	position: absolute; left: -3px; top: 10px;
	display: block;
	width: 1px;
	height: 15px;
	background-color: #f4f1e6;
}
#footer .footer_inner .service ul li:first-child a::after {
	display: none;
}
#footer .footer_inner .bottom {
	margin-top: 40px;
	line-height: 20px;
	text-align: center;
	color: #f4f1e6;
}
#footer .footer_inner .bottom a {
	color: #f4f1e6;
}
#footer .footer_inner .bottom a:hover {
	text-decoration: underline;
}
